.h-screen {
    height: 100vh;
}

.mw-md {
    max-width: 28rem;
}

.user-circle-icon {
    display: block;
    height: 2.5rem;
    width: auto;
}

.dashboard-background {
    background: #F4F5F7;
}

.laravel-logo {
    height: 4rem;
}

.custom-icon {
    height: 2rem;
}

.small-icon {
    height: 1.25rem;
}

.recovery-codes {
    list-style: none;
}

.recovery-codes li {
    font-size: 1.25rem;
    font-family: monospace;
}

.recovery-codes li::before {
    content: "\2022";
    color: rgba(0, 0, 0, .25);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

@media (min-width: 768px) {
    .laravel-logo {
        height: 5rem;
    }
}